body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    
}

header {
    background-color: black;
    color: gray;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

ul li {
    margin-right: 34px;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: gray;
    font-weight: 600;
}

h2 {
    font-size: 30px;
}

li a:hover {
    color:rgb(46, 45, 45);
}

.banner {
    background-image: url(images\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 20px;
    text-align: center;
}

.banner-content h1 {
    font-size: 50px;
    color: white;
    opacity: 0.6;
}

.banner-content p {
    color: white;
    font-size: 20px;
}

.btn-group {
    margin-top: 20px;
}

.btn-group a {
    margin-right: 15px;
    background-color: black;
    padding: 10px 20px;
    font-size: 18px;
    color: gray;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.3s;
}

.btn-group a:hover {
    background-color: transparent;
    border: 1px solid white;
    color: rgb(124, 124, 124);
}

.cardSection {
    padding: 80px 20px;
    background-color: rgb(80, 78, 78);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    height: 350px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin: 10px;
}

.card h1 {
    font-size: 25px;
    font-family: gilroy;
    
}

.card p {
    font-size: 16px;
}


@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        display: none;
    }
    nav ul.show {
        display: flex;
    }
    .hamburger {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    .btn-group a {
        font-size: 16px;
        padding: 10px;
    }
}
